body {
    font-family: Arial, sans-serif;
    background: #E8F6EF;
    margin: 0;
    padding: 0;
}

.container{
    width: 800px; 
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1, h2, h3 {
    color: #16A085;
    text-align: center;
}

.buttons {
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background: #3498DB;
    font-weight: bold;
}

.btn.update { background: #27AE60; }
.btn.delete { background: #E53935; }

input[type="text"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #16A085;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #138D75;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px; 
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #16A085;
    color: white;
}

.flash {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.flash.error { background: #E74C3C; color: white; }
.flash.success { background: #2ECC71; color: white; }
